.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.textArea{
    text-align: center;
}

.textArea textarea{
    background-color: rgb(189, 185, 185);
}

.btn:hover{
    cursor: pointer;
}

.btn1{
    margin-left: 500px;
    margin-top: 15px;
    margin-right: 10px;
    background-color:  rgb(132, 132, 237);
    padding: 7px;
}

.btn2{

    background-color: rgb(132, 132, 237);
    margin-right: 10px;
    padding: 7px;
}

.btn3{

    background-color: rgb(132, 132, 237);
    padding: 7px;
}

.text2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 370px;
    margin-top: 50px;
}

.text2 p{
    margin-top: -10px;
    margin-right: 25px;
}


