.navbar{
    display: flex;
    height: 6vh;
    /* background-color: gray; */
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.title{
    font-size: 30px;
    font-family:serif;
    color: rgb(42, 41, 41);
}

.navbar li{
    list-style: none;
    margin: 0 12px;
    padding: 8px;
}

.navbar li:hover{
    cursor: pointer;
    background-color:rgb(34, 33, 33) ;
    color: white;
}

.color{
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-left: 730px;
}

.box-size{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.box-size:hover{
  cursor: pointer;
  border: 1px solid black;
}

.red{
    background-color: red;   
}

.green{
  background-color: green;   
}

.yellow{
  background-color: rgb(255, 255, 0);   
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .mode{
    box-sizing: border-box;
    display: flex;
    align-items:center ;
     margin-left: 50px;
    padding: 3px;
    
  }

  .mode p{
    margin-left: 5px;
  }
